body{
  background:#020617;
  color:white;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  font-family:Arial;
}

.slider{
  background:#111827;
  padding:16px;
  border-radius:12px;
  text-align:center;
}

img{
  border-radius:8px;
  margin-bottom:10px;
}

button{
  padding:6px 12px;
  margin:4px;
  border:none;
  border-radius:6px;
  cursor:pointer;
}
